{{- define "main" }}

<header class="page-header">
  <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }} {{- if not (.Param "hideMeta") }}
  <div class="post-meta">{{- partial "translation_list.html" . -}}</div>
  {{- end }}
</header>

<div id="searchbox">
  <form
  	id="form"
    action="https://api.web3forms.com/submit"
    method="POST"
  >

  <input type="hidden" name="access_key" value="845dda45-bd7e-478b-9969-29686423d6dc">

    <div class="form-elements">
      <!-- <fieldset> -->
      Subject:<br />
      <input
        type="text"
        name="subject"
        placeholder="Your Name"
        required
      /><br />
      <!-- </fieldset> -->

	  <!-- Silly Bots -->
	<input type="checkbox" name="botcheck" class="hidden" style="display: none;">

      <!-- <fieldset> -->
      Reply-To Email:<br />
      <input
        type="email"
        name="email"
        placeholder="Your Email"
        required
      /><br />
      <!-- </fieldset> -->

      <!-- <fieldset> -->
      Message:<br />
      <textarea
        name="body"
        rows="5"
        cols="30"
        placeholder="Your Message Here 😙"
        required
      ></textarea
      ><br />
      <!-- </fieldset> -->

	  <input type="hidden" name="redirect" value="https://xangrab.com/thanks/">
	  <!-- hCaptcha -->
      <button class="h-captcha" data-captcha="true" data-callback="onSubmit" type="submit" name="sendButton">Send</button>
    </div>

    <div class="thankyou_message" style="display: none">
      <h2><em>Thanks</em> for reaching out! I will get back to you soon!</h2>
    </div>
  </form>

</div>

<!-- hCaptcha - script -->
<script src="https://web3forms.com/client/script.js" async defer></script>

<script type="text/javascript">
  function onSubmit(token) {
    document.getElementById('form').submit();
  }
</script>
{{- end }}{{/* end main */}}
