.buttons,
.main .profile {
	display: flex;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

.main .profile {
	align-items: center;
	min-height: calc(
		100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2)
	);
	text-align: center;
}

.profile .profile_inner h1 {
	padding: 24px 0;
}

.profile img {
	display: inline-table;
	border-radius: 50%;
}

.profile svg:hover {
	transform: scale(1.2);
}

.cross-fade-profile .img2:hover {
	transform: scale(1.2);
}

.cross-fade-profile {
	position: relative;
	display: flex;
	left: 50%;
	transform: translateX(-50%);

	width: 240px;
	height: 240px;
}

.cross-fade-profile img {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	transform: scale(1);
}

.cross-fade-profile img:hover {
	transform: scale(1.05);
}

.cross-fade-profile img.transparent {
	opacity: 0;
	transform: scale(1.05);
	pointer-events: none;
}

.buttons {
	flex-wrap: wrap;
	max-width: 400px;
	margin: 0 auto;
}

.button {
	background: var(--tertiary);
	border-radius: var(--radius);
	margin: 8px;
	padding: 6px;
	transition: transform 0.1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
	transform: scale(1.05);
}

.button-inner {
	padding: 0 8px;
}

.button:active {
	transform: scale(0.96);
}
